:root {
    --body-bg-color: rgb(255, 209, 84);
    --header-bg-color: rgb(120,190,33);
    --el-bg-color: rgb(164,116,73)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-bg-color);
    font-family: 'Didot';
    /* opacity: 0.5; */
}

header {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: flex-end;
    background-color: var(--header-bg-color);
    box-shadow: 0 5px 10px rgb(161, 126, 28); ;
    padding: 5px 10px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
}

h1::first-letter {
    font-size: 1.5em;
}

.search-bar {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 3px;
    margin-bottom: 4px;
}

.search-bar input {
    border: transparent;
    outline: none;
    padding-bottom: 4px; 
}

.search-bar input:focus::placeholder {
    color: transparent;
}

.search-bar img {
    height: 15px;
    width: 15px;
    position: relative;
    top: 2px;
    right: 2px;
}

.add-item {
    border-radius: 10px;
    padding: 5px;
    font-size: 1.5em;
}

.grocery-list-container {
    width: max-content;
    margin: 50px auto;
    height: 5000px;
}

.grocery-list-items ::marker {
    content: ''
}

.grocery-list-items li {
    border: 2px solid var(--el-bg-color);
    width: min(50vw,500px);
    margin: 10px 0;
    padding: 10px;
    border-radius: 7px;
    background-color: var(--el-bg-color);
}

.list-item-content {
    display: inline-block;
    border: 1px solid;
    background-color: white;
    padding: 5px;
    width: 80%;
    border-radius: 7px;
}

.list-item-content span:first-child {
    font-size: 1.3em;
    font-weight: bold;
}

.list-item-content span:nth-of-type(2) {
    font-weight: lighter;
    color: grey;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 2px;
}

.remove-button {
    background-color: pink;
    padding: 3px;
    font-weight: 500;
    border-radius: 5px;
    border: 0px;
}

.remove-button:hover {
    background-color: rgb(242, 182, 193);
}

form.add-item-form {
    width: 30vw;
    height: max(300px, 30vh);
    position: fixed;
    top: 20vh;
    left: 35vw;
    margin: auto;
    opacity: 1;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 0 1000px 200px rgb(192, 154, 4);
    display: none;
}

